.descriptionbox{
    margin: 120px 120px;
    background: linear-gradient(180deg,#e3caf1,#e9f8f94c 60%);
}
.descriptionbox-navigator
{
    display:flex;
}
.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 80px;
    border: 1px solid #d0d0d0;
}
.descriptionbox-nav-box.fade{
    background: #ebd8f6;
    color: #555;
}
.descriptionbox-description{
    display: flex;
    flex-direction:column ;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 48px;
    padding-bottom: 70px;
}
@media(max-width:1280px)
{
    .descriptionbox{
        margin: 0px;
    }
}
@media(max-width:800px){
    .descriptionbox-description{
        font-size: 14px;
    }
}