.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130vh;
    background: linear-gradient(180deg,#e3caf1,#e9f8f94c 60%);
}
.new-collections h1{
    margin-top: 15px;
    color: black;
    font-size: 40px;
    font-weight: 600;
}
.new-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    margin-bottom: 20px;
}
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
@media(max-width:1280px){
    .new-collections h1{
        font-size: 40px;
    }
    .new-collections hr{
        width: 200px;
        height: 4px;
    }
    .collections{
        gap:20px;
        margin-top: 20px;
    }
}
@media(max-width:1024px){
    .new-collections{
        height: 100vh;
    }
    .new-collections h1{
        font-size: 30px;
    }
    .new-collections hr{
        width: 120px;
        height: 3px;
    }
    .collections{
        gap:15px;
        margin-top: 5px;
    }
}
@media(max-width:800px){
    .new-collections{
        height: 75vh;
    }
    .new-collections{
        gap:6px;
    }
    .new-collections h1{
        font-size: 14px;
    }
    .new-collections hr{
        margin-bottom: 10px;
        width: 100px;
        height: 4px;
    }
    .collections{
        gap:5px;   
    }
}    
@media(max-width:500px){
    .new-collections{
        height: 158vh;
    }
    .new-collections h1{
        font-size: 12px;
    }
    .new-collections hr{
        width: 100px;
        height: 3px;
    }
    .collections{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}
